@media screen and (max-width: 1000px) {
    .header-container{
        padding-top: 5px;
    }
    .main-header{
        padding: 10px 0 0;
    }
    .main-header .menu{
        max-height: 0;
        flex-basis: 100%;
        transition: max-height 1s linear;
    }   
    .toggle-bar{
        display: block;
    } 
    .main-header .menu ul li{
        display: block;
        padding: 10px;
    }
    .first-section .content{
        flex-direction: column;
    }
    .first-section .content .text-content{
        text-align: center;
    }
    .first-section .content .text-content h1{
        width: 100%;
        line-height: 40px;
        font-size: 30px;
    }
    .first-section .content img{
        position: relative;
        transform: rotate(0);
        width: 60%;
        top: 0;
        left: 0;
    }
}
@media screen and (max-width: 500px){
    .main-header .logo h1{
        font-size: 1.2rem;
    }
    .main-header .menu ul{
        padding: 5px;
    }
    .main-header .menu ul li{
        margin-top: -20px;
    }
    .main-header .menu ul li a{
        font-size: 0.6rem;
        margin-left: 0;
        padding: 0;
    }
    .first-section .content{
        padding: 5% 0;
        width: 70%;
        margin: 0 auto;
    }
    .first-section .content .text-content h1{
        font-size: 1.4rem;
        line-height: 30px;
        padding: 5%;
    }
    .first-section .content .mobile-apps a{
        padding: 0.2rem 0.5rem;
        font-size: 0.6rem;
        margin-left: 5px;
    }
    .second-section{
        padding: 20px;
    }
    .second-section .content{
        flex-direction: column;
        padding: 1%;
    }
    .second-section .content .info{
        padding: 5px;
    }
    .second-section .content i{
        font-size: 1.2rem;
    }
    .second-section .content h4{
        margin-top: 10px;
        font-size: 0.8rem;
    }
    .second-section .content p{
        font-size: 0.6rem;
    }
    .slide .speaker h4{
        font-size: 1.5rem;
    }
    .slide .speaker img{
        width: 30px;
    }
    .slide .speaker .profile em{
        font-size: 0.6rem;
        padding: 3px;
    }
    .fourth-section .content{
        width: 100%;
    }
    .fourth-section .content img{
        width: 100px;
        margin: 0 auto;
        /* margin: 0; */
    }
    .fifth-section .content h1{
        font-size: 1.5rem;
        padding: 0;
    }
    .fifth-section .content p{
        font-size: 0.6rem;
        padding: 8px 0 20px;
    }
    .plans-section .basics div{
        /* height: 200px; */
        padding-bottom: 15px;
        flex-basis: 33%;
    }
    .plans-section .basics div h4{
        font-size: 1rem;
        padding: 5px;
    }
    .plans-section .basics div h1{
        font-size: 1.5rem;
        padding: 10px;
    }
    .plans-section .basics div p{
        font-size: 11px;
        padding: 5px;
    }
    .plans-section .basics div a{
        white-space: nowrap;
        font-size: 0.8rem;
        padding: 3px;
    }
    .plans-section .basics .chi, .plans-section .basics .lab{
        flex-basis: 40%;
    }
    .plans-section .basics .mas{
        margin-top: 20px;
        flex-basis: 90%;
        width: 100%;
    }
    .sixth-section{
        height: 250px;
    }
    .sixth-section .content h1{
        font-size: 1.5rem;
    }
    .sixth-section .content .mobile-apps a{
        display: auto;
        font-size: .6rem;
        padding: 0.2rem 0.6rem;
        margin: 10px 5px 0;
    }
}
.seventh-section .content{
    padding: 40px;
}