*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-size: 70%;
}
.header-container{
    background-color: rgb(255, 76, 104);
}
.main-header{
    background-color: rgb(255, 76, 104);
    color: #fff;
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0;
    /* border: 1px solid #000; */
}
.main-header .logo{
    font-family: ubuntu;
    font-size: 25px;
}
.toggle-bar{
    display: none;
    position: absolute;
    top: 20px;
    right: 15%;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
}
.toggle-bar:hover{
    outline: 1px solid #fff;
    border: 1px solid #000;
}

/* .toggle-bar.active .menu{
    display: none;
} */
.row{
    margin: 2px;
    width: 15px;
    height: 1px;
    background-color: #ccc;
    opacity: .8;
    display: inline-block;

}
.main-header .menu{
    text-align: center;
    margin: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
.main-header .menu.active{
    height: 100%;
    transition-property: all;
    transition-duration: 3s;
    z-index: 11;
}
.main-header .menu ul{
    padding: 10px;
}
.main-header .menu ul li{
    list-style-type: none;
    display: inline-block;
    /* margin-top: 10px; */
}
.main-header .menu ul li a{
    color: #ccc;
    opacity: .8;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    /* margin-top: 10px; */
    margin-left: 30px;
    padding: 5px;


}
.first-section{
    background-color: rgb(255, 76, 104);
}
.first-section .content{
    background-color: rgb(255, 76, 104);
    color: #fff;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 95vh;
    /* padding: 0 0 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;

}
.first-section .content .text-content{
    /* padding: 5px 0; */
    text-align: left;
}
.first-section .content .text-content h1{
    font-size: 60px;
    line-height: 90px;
    font-weight: 400;
    width: 60%;
}
.first-section .content .mobile-apps{
    /* margin-top: 5px; */
    padding: 35px 0;
}
.first-section .content .mobile-apps a{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 11;
    border: 1px solid #fff;
    padding: 3% 10%;
    margin-left: 20px;
    border-radius: 3px;
}
.first-section .content .mobile-apps a:nth-child(1){
    margin-left: 0;
    background-color: #000;
    border-color: #000;

}
.first-section .content .mobile-img{
    position: absolute;
    flex-basis: 60%;
    top: 20%;
    left: 50%;
    padding: 20px;
}
.first-section .content .mobile-img img{
    width: 70%;
    transform: rotate(25deg);
}
.second-section .content{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.second-section .content .info{
    padding: 20px;
    /* margin: 20px; */
}
.second-section .content h4{
    font-size: 30px;
    font-weight: 100;
    padding: 3px 5px;
    margin-top: 40px;
}
.second-section .content p{
    color: #555;
}
.third-section .content{
    background-color: #ef8172;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.third-section .content .slide{
    display: flex;
    width: 200%;
    animation-name: slides;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.slide .speaker{
    padding: 4% 10%;
}
.slide .speaker h4{
    font-size: 25px;
    margin: 0 0 20px 0;
}
.slide .speaker img{
    width: 30px;
    border-radius: 50%;
    /* float: left; */
}
@keyframes slids {
    0%{
        transform: translateX(-0);
    }
    10%{
        transform: translateX(-0);
    }
    20%{
        transform: translateX(-0);
    }
    30%{
        transform: translateX(-0);
    }
    40%{
        transform: translateX(-0);
    }
    50%{
        transform: translateX(-0);
    }
    60%{
        transform: translateX(-50%);
    }
    70%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(-50%);
    }
    90%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.fourth-section .content{
    background-color: #ef8172;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth-section .content img{
    width: 60px;
    margin: 10px;
    color: #fff;
}
.fifth-section .content{
    text-align: center;
    padding: 40px;
}
.plans-section .basics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lab{
    flex-basis: 40%;
    border: 1px solid #000;
}
.chi{
    flex-basis: 40%;
    border: 1px solid #000;
}
.mas{
    border: 1px solid #000;
    flex-basis: 100%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
}




















