@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Mooli&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.header-container{
    background-color: rgb(255, 76, 104);
    padding-top: 20px;
}
.main-header{
    background-color: rgb(255, 76, 104);
    color: #fff;
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0;
}
.main-header .logo h1{
    font-weight: 400;
    font-family: ubuntu;
    font-size: 2.5rem;
}
.toggle-bar-icon-fa{
    display: none;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: .1% 2%;
    cursor: pointer;
}
.toggle-bar-icon-fa .fa-bars{
    font-size: 14px;
}
.toggle-bar-icon-fa:hover{
    outline: 1px solid #fff;
    border: 1px solid #000;
}
.main-header .menu{
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.main-header .menu.active{
    max-height: 500px;
    transition: max-height 4s ease-in-out;
}
.main-header .menu ul{
    padding: 10px;
    text-align: center;
}
.main-header .menu ul li{
    list-style-type: none;
    display: inline-block;
}
.main-header .menu ul li a{
    color: #eee;
    opacity: 0.6;
    font-weight: 100;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-left: 35px;
    padding: 5px;
}
.main-header .menu ul li a:hover{
    opacity: 1;
}
.first-section{
    background-color: rgb(255, 76, 104);
}
.first-section .content{
    color: #fff;
    text-align: left;
    padding: 10% 15%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;

}
.first-section .content .text-content{
    /* padding: 5px 0; */
    text-align: left;
}
.first-section .content .text-content h1{
    font-size: 50px;
    line-height: 90px;
    font-weight: 600;
    width: 60%;
    /* padding: 5%; */
    font-family: Montserrat;
}
.first-section .content .mobile-apps{
    /* margin-top: 5px; */
    padding: 35px 0;
}
.first-section .content .mobile-apps a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    margin-left: 20px;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
}
.first-section .content .mobile-apps a:nth-child(1){
    margin-left: 0;
    background-color: #343a40;
    border: 1px solid #343a40;

}
.first-section .content .mobile-apps a i{
    padding-right: 5px;
}
.first-section .content img{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 55%;
    overflow-clip-margin: content-box;
    overflow: clip;
    transform: rotate(25deg);
}
.second-section{
    padding: 70px;
}
.second-section .content{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section .content .info{
    padding: 20px;
    /* margin: 20px; */
}
.second-section .content i{
    font-size: 3rem;
    display: inline-block;
    color: #ef8172;
}
.second-section .content i:hover{
    color: rgb(255, 76, 104);
}
.second-section .content h4{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 5px;
    margin-top: 40px;
    font-family: Montserrat
}
.second-section .content p{
    font-family: Montserrat;
    color: #555;
    font-size: 1rem;
}
.third-section{
    background-color: #ef8172;
    position: relative;
}

.third-section .speaker{
    padding: 0 3.5rem;
    width: 100%;
    margin: 0 auto;
}
.third-section .speaker h4{
    font-size: 2.5rem;
    padding:  2% 10%;
    font-weight: 400;
    color: #fff;
}
.third-section .speaker img{
    width: 100px;
    border-radius: 50%;
}
.third-section .speaker .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-section .speaker .profile em{
    font-size: 1.2rem;
    padding: 30px;
    color: #fff;
}
.fourth-section{
    background-color: #ef8172;
}
.fourth-section .content{
    background-color: #ef8172;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}
.fourth-section .content img{
    width: 100%;
    margin: 20px;
    color: #fff;
}
.fifth-section .content{
    text-align: center;
    padding: 40px 5%;
}
.fifth-section .content h1{
    font-size: 3rem;
    font-weight: 400;
    padding: 70px 0 0;

}
.fifth-section .content p{
    font-size: 1rem;
    color: #999;
    font-family: Montserrat;
    padding: 20px 0 50px;
}
.plans-section .basics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.plans-section .basics div {
    flex-basis: 30%;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-bottom: 40px;
    height: 100%;
}
.plans-section .basics div h4{
    font-size: 1.5rem;
    font-weight: 100;
    padding: 1rem;
    background-color: #eee;
    width: 100%;
}
.plans-section .basics div h1{
    font-size: 3rem;
    padding: 20px;
    font-weight: 400;
}
.plans-section .basics div p{
    font-size: 16px;
    color: #555;
    padding: 10px;
    font-family: Montserrat;
}
.plans-section .basics div a{
    background-color: #343a40;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Montserrat;
    border: 1px solid #343a40;
}
.plans-section .basics div:nth-child(1) a{
    color: #000;
    background-color: #fff;
    /* border: 1px solid #343a40; */
}
.sixth-section{
    background-color: rgb(255, 76, 104);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixth-section .content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.sixth-section .content h1{
    font-size: 3rem;
    font-weight: 500;
}
.sixth-section .content .mobile-apps a{
    color: #fff;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}
.sixth-section .content .mobile-apps a:nth-child(1){
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
}
.sixth-section .content .mobile-apps a i{
    padding-right: 5px;
}
.seventh-section .content{
    text-align: center;
    padding: 70px;
}
.seventh-section .content a{
    display: inline-block;
    color: #000;
    margin: 20px;
    font-size: 16px;
}
.seventh-section .content p{
    font-size: 16px;
    color: #999;
}
